Html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

span.image-number::before {
    content: "#";
}

span.image-number {
    align-self: flex-start;
    padding: 5px;
    color: rgb(207, 204, 200);
    position: relative;
    top: 31px;
}

.octodex {
    display: flex;
}

.octocat {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.image-caption {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
 }

div img {
    width: 30px;
    height: 30px;
}

span, div > a {
    padding: 2px;
}

div.image-caption span {
    color: rgb(115, 118, 119);
}

a {
    color: rgb(41,46, 48);
}

li.octocat > a > img {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 400px;
    height: 400px;
}

.image-footer::after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgb(202, 202, 202) transparent transparent transparent;
    content: "";
    position: relative;
    bottom: 47px;
    left: 375px;

}

li.octocat::after {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    content: "";
    margin-top: 20px;
}

div.image-caption > span, div.image-caption > a {
    position: relative;
    left: 38px;
}

a {
    text-decoration: none;
}

ul.authors {
    position: relative;
    top: 7px;
}

span, a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}